<% @categories.each do |category| %>
  <li><%= link_to category.title, category_path(category) %></li>
<% end %>

<br>
<% @items.each do |item| %>
  <li><%= item.title %> | <%= "$#{item.price.to_f/100}" %></li>
  <% if current_user %>
    <%= button_to 'Add to Cart', line_items_path(item_id: item) %></p>
  <% end %>
<% end %>
